{% block content %}
{% include "header.html" %}
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/project.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Projects</h1>
            <span class="subheading">This is what I did !</span>
          </div>
        </div>
      </div>
    </div>
</header>
<body>
  <div class="container-sm">
    <h2>Project Links:</h4> <br>
    <h3><a href="https://morsecode-converter.onrender.com/" target="_blank" title="Project link">1. Text to Morse Code<a href="https://github.com/ShubhamOulkar/morsecode" target="_blank" title="Project code"><i class="fa-brands fa-github"></i></a></a></h3>
    <h3><a href="https://www.kaggle.com/code/shubhamoulkar/covid-19-impact-on-digital-learning" title="Project link">2. COVID-19 Impact on Digital Learning 💻 (notebook)<a href="https://github.com/ShubhamOulkar/covid-19-impact-on-digital-learning" target="_blank" title="Project code"><i class="fa-brands fa-github"></i></a></a></h3>
    <h3><a href="https://public.tableau.com/app/profile/shubham4420/viz/BirdStrikeInUSA2000-2011/FinalD1" target="_blank" title="Project link">3. Bird Strike in USA Dashboard</a></h3>
    <h3><a href="https://heavy-blog.onrender.com" target="_blank" title="Project link">4. Personal Blog's FlaskApp <a href="https://github.com/ShubhamOulkar/heavy-blog" target="_blank" title="Project code"><i class="fa-brands fa-github"></i></a></a></h3>
  </div>
</body>
{% include "footer.html" %}
{% endblock %}
