{% block content %}
{% include 'header.html' %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/pen.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Reset Password</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto content">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form name="sentMessage" id="contactForm" action="{{ url_for('resetpassword', verified=verified) }}" method="post" novalidate>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Email</label>
                        <input type="Email" class="form-control" name="email" placeholder="{{email}}" id="name" required>
                    </div>
                </div>
                <br>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>New Password</label>
                        <input type="password" class="form-control" name="newpassword" placeholder="new password" id="name" required
                            data-validation-required-message="Please enter password">
                    </div>
                </div>
                <br>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Confirm password</label>
                        <input type="password" class="form-control" name="confirmpassword" placeholder="confirm password" id="name" required
                            data-validation-required-message="Please enter password correct">
                    </div>
                </div><br>
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Reset Password</button>
            </form>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}